<!DOCTYPE html>
<html lang="<%= theme.language %>">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <div class="wrapper">
        <%- partial('_partial/header') %>
        <div class="main">
            <%- body %>
        </div>
        <%- partial('_partial/footer') %>
    </div>
</body>
</html>